In [37]:
import pandas as pd

In [38]:
# Display all columns when printing DataFrames (prevents truncation)

pd.set_option('display.max_columns', None)

In [39]:
# Read the Star Wars survey CSV file
# cp1252 encoding is used to handle special characters from Windows/Excel

df = pd.read_csv('../Data/raw/StarWars.csv', encoding= 'cp1252')

In [40]:
# Preview the first few rows of the raw dataset

df.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,"Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.",Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?Œæ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Han Solo,Luke Skywalker,Princess Leia Organa,Anakin Skywalker,Obi Wan Kenobi,Emperor Palpatine,Darth Vader,Lando Calrissian,Boba Fett,C-3P0,R2 D2,Jar Jar Binks,Padme Amidala,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,2,1,4,5,6,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Unfamiliar (N/A),Unfamiliar (N/A),Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,2,3,4,5,6,Somewhat favorably,Somewhat favorably,Somewhat favorably,Somewhat favorably,Somewhat favorably,Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,6,1,2,4,3,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Somewhat favorably,Very favorably,Somewhat favorably,Somewhat unfavorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [41]:
# Display all column names in the dataset

df.columns

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',
       'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?Œæ',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [42]:
# Rename columns to meaningful, readable names
# This fixes "Unnamed" columns caused by multi-row headers in the CSV
# and cleans an encoding issue in one column name

df_renamed = df.rename(columns={
    'Which of the following Star Wars films have you seen? Please select all that apply.' : 'Have you seen Star Wars: Episode I The Phantom Menace?',
    'Unnamed: 4' : 'Have you seen Star Wars: Episode II Attack of the Clones?', 
    'Unnamed: 5' : 'Have you seen Star Wars: Episode III Revenge of the Sith?', 
    'Unnamed: 6' : 'Have you seen Star Wars: Episode IV A New Hope?', 
    'Unnamed: 7' : 'Have you seen Star Wars: Episode V The Empire Strikes Back?', 
    'Unnamed: 8' : 'Have you seen Star Wars: Episode VI Return of the Jedi?',
    'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.' : 'Ranking of Episode 1',
    'Unnamed: 10': 'Ranking of Episode 2',  
    'Unnamed: 11' : 'Ranking of Episode 3', 
    'Unnamed: 12' : 'Ranking of Episode 4', 
    'Unnamed: 13' : 'Ranking of Episode 5',
    'Unnamed: 14' : 'Ranking of Episode 6',
    'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.': 'Are you familiar with Han Solo?',
    'Unnamed: 16': 'Are you familiar with Luke Skywalker?', 
    'Unnamed: 17': 'Are you familiar with Princess Leia Organa?', 
    'Unnamed: 18': 'Are you familiar with Anakin Skywalker?', 
    'Unnamed: 19': 'Are you familiar with Obi Wan Kenobi?',
    'Unnamed: 20': 'Are you familiar with Emperor Palpatine?', 
    'Unnamed: 21': 'Are you familiar with Darth Vader?', 
    'Unnamed: 22': 'Are you familiar with Lando Calrissian?', 
    'Unnamed: 23': 'Are you familiar with Boba Fett?',
    'Unnamed: 24': 'Are you familiar with C-3P0?', 
    'Unnamed: 25': 'Are you familiar with R2 D2?', 
    'Unnamed: 26': 'Are you familiar with Jar Jar Binks?', 
    'Unnamed: 27': 'Are you familiar with Padme Amidala?',
    'Unnamed: 28': 'Are you familiar with Yoda?',
    'Do you consider yourself to be a fan of the Expanded Universe?Œæ' : 'Do you consider yourself to be a fan of the Expanded Universe?'
})

In [43]:
# Define critical columns that must not contain missing values

important_cols = [
    'RespondentID',
    'Have you seen any of the 6 films in the Star Wars franchise?',
    'Gender',
    'Age'
]

# Drop rows where any of the important columns contain NaN values

df_renamed.dropna(subset=important_cols, inplace=True)

In [44]:
# Preview cleaned DataFrame

df_renamed.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Have you seen Star Wars: Episode I The Phantom Menace?,Have you seen Star Wars: Episode II Attack of the Clones?,Have you seen Star Wars: Episode III Revenge of the Sith?,Have you seen Star Wars: Episode IV A New Hope?,Have you seen Star Wars: Episode V The Empire Strikes Back?,Have you seen Star Wars: Episode VI Return of the Jedi?,Ranking of Episode 1,Ranking of Episode 2,Ranking of Episode 3,Ranking of Episode 4,Ranking of Episode 5,Ranking of Episode 6,Are you familiar with Han Solo?,Are you familiar with Luke Skywalker?,Are you familiar with Princess Leia Organa?,Are you familiar with Anakin Skywalker?,Are you familiar with Obi Wan Kenobi?,Are you familiar with Emperor Palpatine?,Are you familiar with Darth Vader?,Are you familiar with Lando Calrissian?,Are you familiar with Boba Fett?,Are you familiar with C-3P0?,Are you familiar with R2 D2?,Are you familiar with Jar Jar Binks?,Are you familiar with Padme Amidala?,Are you familiar with Yoda?,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,2,1,4,5,6,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Unfamiliar (N/A),Unfamiliar (N/A),Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,2,3,4,5,6,Somewhat favorably,Somewhat favorably,Somewhat favorably,Somewhat favorably,Somewhat favorably,Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,6,1,2,4,3,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Somewhat favorably,Very favorably,Somewhat favorably,Somewhat unfavorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,6,2,1,3,Very favorably,Somewhat favorably,Somewhat favorably,Somewhat unfavorably,Very favorably,Very unfavorably,Somewhat favorably,Neither favorably nor unfavorably (neutral),Very favorably,Somewhat favorably,Somewhat favorably,Very unfavorably,Somewhat favorably,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [45]:
# Check updated column names after cleaning

df_renamed.columns

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Have you seen Star Wars: Episode I The Phantom Menace?',
       'Have you seen Star Wars: Episode II Attack of the Clones?',
       'Have you seen Star Wars: Episode III Revenge of the Sith?',
       'Have you seen Star Wars: Episode IV A New Hope?',
       'Have you seen Star Wars: Episode V The Empire Strikes Back?',
       'Have you seen Star Wars: Episode VI Return of the Jedi?',
       'Ranking of Episode 1', 'Ranking of Episode 2', 'Ranking of Episode 3',
       'Ranking of Episode 4', 'Ranking of Episode 5', 'Ranking of Episode 6',
       'Are you familiar with Han Solo?',
       'Are you familiar with Luke Skywalker?',
       'Are you familiar with Princess Leia Organa?',
       'Are you familiar with Anakin Skywalker?',
       'Are you familiar with Obi Wan Kenobi?',
       'Are you familiar with Emperor Palpatine?',
       'Are you familiar with Darth Vader?',
       'Are you familiar with Lando Calrissian?',
       'Are you familiar with Boba Fett?', 'Are you familiar with C-3P0?',
       'Are you familiar with R2 D2?', 'Are you familiar with Jar Jar Binks?',
       'Are you familiar with Padme Amidala?', 'Are you familiar with Yoda?',
       'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [46]:
# List of movie "seen" columns to convert into Yes/No values

to_repalce_values =['Have you seen Star Wars: Episode I The Phantom Menace?',
       'Have you seen Star Wars: Episode II Attack of the Clones?',
       'Have you seen Star Wars: Episode III Revenge of the Sith?',
       'Have you seen Star Wars: Episode IV A New Hope?',
       'Have you seen Star Wars: Episode V The Empire Strikes Back?',
       'Have you seen Star Wars: Episode VI Return of the Jedi?' 
]

# Convert movie columns:
# If a value exists → "Yes"
# If NaN → "No"
# Convert into datatype category

for col in to_repalce_values:
    df_renamed[col] = df_renamed[col].notna().map({True: 'Yes', False: 'No'}).astype('category')

In [47]:
# Columns containing movie rankings

ranking_cols = [
    'Ranking of Episode 1', 'Ranking of Episode 2',
    'Ranking of Episode 3', 'Ranking of Episode 4',
    'Ranking of Episode 5', 'Ranking of Episode 6'
]

# Convert ranking columns to numeric values
# Invalid values are coerced into NaN

df_renamed[ranking_cols] = df_renamed[ranking_cols].apply(pd.to_numeric, errors= 'coerce')

# Extract and sort unique ranking values across all ranking columns

unique_values = pd.unique(df_renamed[ranking_cols].values.ravel())
sorted(unique_values)

[np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0),
 np.float64(5.0),
 np.float64(6.0),
 np.float64(nan)]

In [48]:
# View distribution of Age values

df_renamed['Age'].value_counts()

Age
45-60    291
> 60     269
30-44    268
18-29    218
Name: count, dtype: int64

In [49]:
# View distribution of Household Income values

df_renamed['Household Income'].value_counts()

Household Income
$50,000 - $99,999      298
$25,000 - $49,999      186
$100,000 - $149,999    141
$0 - $24,999           138
$150,000+               95
Name: count, dtype: int64

In [50]:
# Categorize Age and Household Income into readable groups
# Convert category cols into datatype category

category_cols = [['Age', 'Household Income']]

for col in category_cols:

    df_renamed[col] =  df_renamed[col].replace({
            '18-29' : 'Young Adult',
            '30-44' : 'Adult',
            '45-60' : 'Middle-Aged',
            '> 60'  : 'Senior',
            '$0 - $24,999' : 'Low Income',
            '$25,000 - $49,999': 'Lower-Middle Income',
            '$50,000 - $99,999' : 'Middle Income',
            '$100,000 - $149,999' : 'Upper-Middle Income',
            '$150,000+' : 'High Income'
    }).astype('category')

In [51]:
# Check categorized Age values

df_renamed['Age'].value_counts()

Age
Middle-Aged    291
Senior         269
Adult          268
Young Adult    218
Name: count, dtype: int64

In [52]:
# Check categorized Household Income

df_renamed['Household Income'].value_counts()

Household Income
Middle Income          298
Lower-Middle Income    186
Upper-Middle Income    141
Low Income             138
High Income             95
Name: count, dtype: int64

In [53]:
# Drop an irrelevant or unused column

df_renamed = df_renamed.drop('Which character shot first?', axis=1)

In [54]:
# Save the cleaned dataset to a CSV file
# Index=False prevents pandas from writing the index as a column

df_renamed.to_csv('../Data/processed/star_wars_survey_cleaned.csv', index= False)